## Data Analytics: Lab 3

Import the library

In [274]:
import pandas as pd

Read the dataset

In [275]:
df = pd.read_csv('mtcars.csv')

df.head(20)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

In [276]:
df.shape

(32, 12)

1) Group by cyl and display the first 20 lines after groupby

In [277]:
# Apply group by
df_grouped = df.groupby('cyl')
df_grouped.head(20).head(20)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

2) Group by cyl on 'mpg' and display the first 20 lines after groupby

In [278]:
df_grouped = df.groupby('cyl')['mpg']
df_grouped.head(20).head(20)

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
Name: mpg, dtype: float64

3) Group by cyl, select column ‘mpg’, then aggregate on mean

In [279]:
df_grouped = df.groupby('cyl')['mpg'].mean()
df_grouped

cyl
4    26.663636
6    19.742857
8    15.100000
Name: mpg, dtype: float64

4) Group by cyl, select columns [‘mpg’, ‘hp’] then aggregate on mean

In [280]:
df_grouped = df.groupby('cyl')[['mpg', 'hp']].mean()
df_grouped

           mpg          hp
cyl
4    26.663636   82.636364
6    19.742857  122.285714
8    15.100000  209.214286

5) Group by [cyl, am], select 2 columns [‘mpg’, ‘hp’] then aggregate on mean

In [281]:
df_grouped = df.groupby(['cyl', 'am'])[['mpg', 'hp']].mean()
df_grouped

              mpg          hp
cyl am
4   0   22.900000   84.666667
    1   28.075000   81.875000
6   0   19.125000  115.250000
    1   20.566667  131.666667
8   0   15.050000  194.166667
    1   15.400000  299.500000

6) Group by [cyl], select 2 columns [‘mpg’, ‘hp’] then aggregate on mean, std

In [282]:
import numpy as np

df_grouped = df.groupby('cyl')[['mpg', 'hp']].agg([np.mean, np.std])
df_grouped

/var/folders/gc/49grx5f90nv3f12yh4jhhf740000gn/T/ipykernel_5429/3223348333.py:3: FutureWarning: The provided callable <function mean at 0x107b48220> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_grouped = df.groupby('cyl')[['mpg', 'hp']].agg([np.mean, np.std])
/var/folders/gc/49grx5f90nv3f12yh4jhhf740000gn/T/ipykernel_5429/3223348333.py:3: FutureWarning: The provided callable <function std at 0x107b48360> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df_grouped = df.groupby('cyl')[['mpg', 'hp']].agg([np.mean, np.std])

           mpg                    hp
          mean       std        mean        std
cyl
4    26.663636  4.509828   82.636364  20.934530
6    19.742857  1.453567  122.285714  24.260491
8    15.100000  2.560048  209.214286  50.976886

7) Group by [cyl, am], get 2 columns [‘mpg’, ‘hp’] then aggregate on mean, std

In [283]:
df_grouped = df.groupby(['cyl', 'am'])[['mpg', 'hp']].agg([np.mean, np.std])
df_grouped

/var/folders/gc/49grx5f90nv3f12yh4jhhf740000gn/T/ipykernel_5429/1112104810.py:1: FutureWarning: The provided callable <function mean at 0x107b48220> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_grouped = df.groupby(['cyl', 'am'])[['mpg', 'hp']].agg([np.mean, np.std])
/var/folders/gc/49grx5f90nv3f12yh4jhhf740000gn/T/ipykernel_5429/1112104810.py:1: FutureWarning: The provided callable <function std at 0x107b48360> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df_grouped = df.groupby(['cyl', 'am'])[['mpg', 'hp']].agg([np.mean, np.std])

              mpg                    hp
             mean       std        mean        std
cyl am
4   0   22.900000  1.452584   84.666667  19.655364
    1   28.075000  4.483860   81.875000  22.655416
6   0   19.125000  1.631717  115.250000   9.178780
    1   20.566667  0.750555  131.666667  37.527767
8   0   15.050000  2.774396  194.166667  33.359838
    1   15.400000  0.565685  299.500000  50.204581

8) Count the number of Toyota and Mercedes grouped by am.

In [284]:
# Insert a new column to this that returns true if
# Toyota or Mercedes is in the car model name
df['model_bool'] = df['model'].str.contains('Toyota') | df['model'].str.contains('Merc')

df_grouped = df.groupby('am')['model_bool'].sum()
df_grouped

am
0    8
1    1
Name: model_bool, dtype: int64

9) Count the number of Toyota and Mercedes with more than 4 cylinders grouped by am.

In [285]:
# Filter those Toyota or Mercedes models with cylinder greater than 4
df_grouped = df[df['cyl'] > 4].groupby('am')['model_bool'].sum()
df_grouped

am
0    5
1    0
Name: model_bool, dtype: int64

10) Count the number of cars per cylinder.

In [286]:
unique_cyl = df['cyl'].unique().tolist()

df_grouped = df.groupby('cyl')
for i in unique_cyl:
    print(f'Cylinder Group {i}:', df_grouped['model'].get_group(i).count())

Cylinder Group 6: 7
Cylinder Group 4: 11
Cylinder Group 8: 14