Data Analytics: Lab 1

Import the library

In [61]:
import pandas as pd
import numpy as np

Read the dataset

In [62]:
df = pd.read_csv("Lab1_dataset.csv")
print(df.head(10))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1
5   6          50       RL         85.0       -1   Pave   NaN      IR1
6   7          20       RL         75.0    10084   Pave   NaN      Reg
7   8          60       RL          NaN    10382   Pave   NaN      IR1
8   9          50       RM         51.0     6120   Pave   NaN      Reg
9  10         190       RL         50.0     7420   Pave   NaN      Reg

  LandContour Utilities LotConfig Neighborhood BldgType HouseStyle  \
0         Lvl    AllPub    Inside      CollgCr     1Fam     2Story
1         Lvl    AllPub        ""      Veenker     1Fam     1Story
2         Lvl    AllPub    Inside      CollgCr     1Fam     2Story
3         Lvl    AllPub    Corner      Crawfor     1Fam     2Story
4         Lvl    AllPub       FR2      NoRidge     1Fam     2Story
5         Lvl    AllPub    Inside      Mitchel     1Fam     1.5Fin
6         Lvl    AllPub    Inside      Somerst     1Fam     1Story
7         Lvl    AllPub        ""       NWAmes     1Fam     2Story
8         Lvl    AllPub    Inside      OldTown     1Fam     1.5Fin
9         Lvl    AllPub    Corner      BrkSide   2fmCon        NaN

   OverallQual  OverallCond  YearBuilt  YearRemodAdd  GarageCars  SalePrice
0          7.0          5.0       2003          2003           2     208500
1          6.0          8.0       1976          1976           2     181500
2          7.0          5.0       2001          2002           2     223500
3          7.0          NaN       1915          1970           3     140000
4          8.0          5.0         -1          2000           3     250000
5          5.0          5.0       1993          1995           2     143000
6          8.0          5.0       2004          2005           2     307000
7          7.0          6.0       1973          1973           2     200000
8          NaN          5.0       1931          1950           2     129900
9          5.0          6.0       1939          1950           1     118000

a) Missing data could be anything in { NA, n/a, “ ”, -1, …}. Read the data and assign the
missing data in the dataframe as NaN. Hint: df.replace( …, np.nan, inplace=True)

In [78]:
df.replace(["NA", "n/a", "", '""', -1], np.nan, inplace=True)
print(df.head(10))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0   8450.0   Pave   NaN      Reg
1   2          20       RL         80.0   9600.0   Pave   NaN      Reg
2   3          60       RL         68.0  11250.0   Pave   NaN      IR1
3   4          70       RL         60.0   9550.0   Pave   NaN      IR1
4   5          60       RL         84.0  14260.0   Pave   NaN      IR1
5   6          50       RL         85.0      NaN   Pave   NaN      IR1
6   7          20       RL         75.0  10084.0   Pave   NaN      Reg
7   8          60       RL          NaN  10382.0   Pave   NaN      IR1
8   9          50       RM         51.0   6120.0   Pave   NaN      Reg
9  10         190       RL         50.0   7420.0   Pave   NaN      Reg

  LandContour Utilities LotConfig Neighborhood BldgType HouseStyle  \
0         Lvl    AllPub    Inside      CollgCr     1Fam     2Story
1         Lvl    AllPub       NaN      Veenker     1Fam     1Story
2         Lvl    AllPub    Inside      CollgCr     1Fam     2Story
3         Lvl    AllPub    Corner      Crawfor     1Fam     2Story
4         Lvl    AllPub       FR2      NoRidge     1Fam     2Story
5         Lvl    AllPub    Inside      Mitchel     1Fam     1.5Fin
6         Lvl    AllPub    Inside      Somerst     1Fam     1Story
7         Lvl    AllPub       NaN       NWAmes     1Fam     2Story
8         Lvl    AllPub    Inside      OldTown     1Fam     1.5Fin
9         Lvl    AllPub    Corner      BrkSide   2fmCon        NaN

   OverallQual  OverallCond  YearBuilt  YearRemodAdd  GarageCars  SalePrice
0          7.0          5.0     2003.0          2003           2     208500
1          6.0          8.0     1976.0          1976           2     181500
2          7.0          5.0     2001.0          2002           2     223500
3          7.0          NaN     1915.0          1970           3     140000
4          8.0          5.0        NaN          2000           3     250000
5          5.0          5.0     1993.0          1995           2     143000
6          8.0          5.0     2004.0          2005           2     307000
7          7.0          6.0     1973.0          1973           2     200000
8          NaN          5.0     1931.0          1950           2     129900
9          5.0          6.0     1939.0          1950           1     118000

b) Show the summary of the dataframe

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            99 non-null     int64
 1   MSSubClass    99 non-null     int64
 2   MSZoning      99 non-null     object
 3   LotFrontage   85 non-null     float64
 4   LotArea       95 non-null     float64
 5   Street        99 non-null     object
 6   Alley         6 non-null      object
 7   LotShape      99 non-null     object
 8   LandContour   99 non-null     object
 9   Utilities     99 non-null     object
 10  LotConfig     94 non-null     object
 11  Neighborhood  99 non-null     object
 12  BldgType      99 non-null     object
 13  HouseStyle    95 non-null     object
 14  OverallQual   94 non-null     float64
 15  OverallCond   95 non-null     float64
 16  YearBuilt     92 non-null     float64
 17  YearRemodAdd  99 non-null     int64
 18  GarageCars    99 non-null     int64
 19  SalePrice     99 non-null     int64
dtypes: float64(5), int64(5), object(10)
memory usage: 15.6+ KB

In [80]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,GarageCars,SalePrice
count,99.000000,99.000000,85.000000,95.000000,94.000000,95.000000,92.000000,99.000000,99.000000,99.000000
mean,50.000000,52.323232,71.341176,10060.263158,5.957447,5.473684,1971.315217,1984.171717,1.767677,174273.898990
std,28.722813,42.638209,21.210146,5232.546799,1.516326,0.965821,29.771263,20.921642,0.739943,72461.117262
min,1.000000,20.000000,21.000000,1596.000000,3.000000,2.000000,1910.000000,1950.000000,0.000000,40000.000000
25%,25.500000,20.000000,60.000000,7579.500000,5.000000,5.000000,1954.750000,1965.000000,1.000000,129500.000000
50%,50.000000,45.000000,70.000000,9591.000000,6.000000,5.000000,1971.000000,1995.000000,2.000000,154000.000000
75%,74.500000,60.000000,84.000000,11220.500000,7.000000,6.000000,1999.500000,2003.500000,2.000000,208000.000000
max,99.000000,190.000000,122.000000,50271.000000,10.000000,8.000000,2009.000000,2009.000000,3.000000,438780.000000

c) Count the number and percentage of missing data in each column and the entire dataset

In [81]:
df.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage     14
LotArea          4
Street           0
Alley           93
LotShape         0
LandContour      0
Utilities        0
LotConfig        5
Neighborhood     0
BldgType         0
HouseStyle       4
OverallQual      5
OverallCond      4
YearBuilt        7
YearRemodAdd     0
GarageCars       0
SalePrice        0
dtype: int64

In [82]:
df.isnull().sum() / len(df) * 100

Id               0.000000
MSSubClass       0.000000
MSZoning         0.000000
LotFrontage     14.141414
LotArea          4.040404
Street           0.000000
Alley           93.939394
LotShape         0.000000
LandContour      0.000000
Utilities        0.000000
LotConfig        5.050505
Neighborhood     0.000000
BldgType         0.000000
HouseStyle       4.040404
OverallQual      5.050505
OverallCond      4.040404
YearBuilt        7.070707
YearRemodAdd     0.000000
GarageCars       0.000000
SalePrice        0.000000
dtype: float64

In [83]:
print("Total missing values:", df.isnull().sum().sum())
print("Percentage of missing values:", df.isnull().sum().sum() / (df.size) * 100, "%")

Total missing values: 136
Percentage of missing values: 6.8686868686868685 %

d) Randomly drop 25% of the rows that have missing data. Hint: use any() and numpy.random.choice()

In [85]:
# Step 1: Identify missing rows
missing_values_rows = df.isnull().any(axis=1)
# Get the index of the rows with missing data
# Using the 25%, we have to find the exact number of rows to drop.
drop_percentage = 25
drop_rows = int(len(df[missing_values_rows].index) * (drop_percentage / 100))
# Using np.random.choice to randomly select 25% of the missing rows to drop 
df_dropped = df.drop(np.random.choice(df[missing_values_rows].index, drop_rows, replace=False))
print("\nDataFrame after dropping 25 percent rows with missing data:\n", df_dropped)

DataFrame after dropping 25 percent rows with missing data:
     Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0    1          60       RL         65.0   8450.0   Pave   NaN      Reg
2    3          60       RL         68.0  11250.0   Pave   NaN      IR1
4    5          60       RL         84.0  14260.0   Pave   NaN      IR1
6    7          20       RL         75.0  10084.0   Pave   NaN      Reg
7    8          60       RL          NaN  10382.0   Pave   NaN      IR1
..  ..         ...      ...          ...      ...    ...   ...      ...
92  93          30       RL         80.0  13360.0   Pave  Grvl      IR1
93  94         190  C (all)         60.0   7200.0   Pave   NaN      Reg
94  95          60       RL         69.0   9337.0   Pave   NaN      IR1
96  97          20       RL         78.0  10264.0   Pave   NaN      IR1
97  98          20       RL         73.0  10921.0   Pave   NaN      Reg

   LandContour Utilities LotConfig Neighborhood BldgType HouseStyle  \
0          Lvl    AllPub    Inside      CollgCr     1Fam     2Story
2          Lvl    AllPub    Inside      CollgCr     1Fam     2Story
4          Lvl    AllPub       FR2      NoRidge     1Fam     2Story
6          Lvl    AllPub    Inside      Somerst     1Fam     1Story
7          Lvl    AllPub       NaN       NWAmes     1Fam     2Story
..         ...       ...       ...          ...      ...        ...
92         HLS    AllPub    Inside      Crawfor     1Fam     1Story
93         Lvl    AllPub    Corner      OldTown   2fmCon     2.5Unf
94         Lvl    AllPub    Inside      CollgCr     1Fam     2Story
96         Lvl    AllPub    Inside      CollgCr     1Fam     1Story
97         HLS    AllPub    Inside      Edwards     1Fam     1Story

    OverallQual  OverallCond  YearBuilt  YearRemodAdd  GarageCars  SalePrice
0           7.0          5.0     2003.0          2003           2     208500
2           7.0          5.0     2001.0          2002           2     223500
4           8.0          5.0        NaN          2000           3     250000
6           8.0          5.0     2004.0          2005           2     307000
7           7.0          6.0     1973.0          1973           2     200000
..          ...          ...        ...           ...         ...        ...
92          5.0          7.0     1921.0          2006           2     163500
93          6.0          6.0     1910.0          1998           2     133900
94          6.0          5.0     1997.0          1997           2     204750
96          7.0          5.0     1999.0          1999           2     214000
97          4.0          5.0     1965.0          1965           1      94750

[76 rows x 20 columns]

In [86]:
print("Total missing values:", df_dropped.isnull().sum().sum())
print("Percentage of missing values:", df_dropped.isnull().sum().sum() / (df_dropped.size) * 100, "%")

Total missing values: 98
Percentage of missing values: 6.447368421052632 %

e) Fill in the missing data with median (if the column data type is numeric) or mode (if the column data type is not numeric)

In [87]:
# Get missing values
missing_data = df[df.isnull().any(axis=1)]
# Select numerical columns
numerical_columns = df.select_dtypes(include=['number']).columns
# Select non-numerical columns
object_columns = df.select_dtypes(include=['object']).columns
# Fill in the numerical columns with the median
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].median())
# Fill in the object columns with the mode
# In case there are multiple modes, select the first mode found
df[object_columns] = df[object_columns].fillna(df[object_columns].mode().iloc[0])
# Display the updated dataset, focusing on the missing values
imputed_data = df.loc[missing_data.index, df.columns]
print("DataFrame (imputed values only):\n", imputed_data)

DataFrame (imputed values only):
     Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0    1          60       RL         65.0   8450.0   Pave  Grvl      Reg
1    2          20       RL         80.0   9600.0   Pave  Grvl      Reg
2    3          60       RL         68.0  11250.0   Pave  Grvl      IR1
3    4          70       RL         60.0   9550.0   Pave  Grvl      IR1
4    5          60       RL         84.0  14260.0   Pave  Grvl      IR1
..  ..         ...      ...          ...      ...    ...   ...      ...
94  95          60       RL         69.0   9337.0   Pave  Grvl      IR1
95  96          60       RL         70.0   9765.0   Pave  Grvl      IR2
96  97          20       RL         78.0  10264.0   Pave  Grvl      IR1
97  98          20       RL         73.0  10921.0   Pave  Grvl      Reg
98  99          30       RL         85.0  10625.0   Pave  Grvl      Reg

   LandContour Utilities LotConfig Neighborhood BldgType HouseStyle  \
0          Lvl    AllPub    Inside      CollgCr     1Fam     2Story
1          Lvl    AllPub    Inside      Veenker     1Fam     1Story
2          Lvl    AllPub    Inside      CollgCr     1Fam     2Story
3          Lvl    AllPub    Corner      Crawfor     1Fam     2Story
4          Lvl    AllPub       FR2      NoRidge     1Fam     2Story
..         ...       ...       ...          ...      ...        ...
94         Lvl    AllPub    Inside      CollgCr     1Fam     2Story
95         Lvl    AllPub    Corner      Gilbert     1Fam     2Story
96         Lvl    AllPub    Inside      CollgCr     1Fam     1Story
97         HLS    AllPub    Inside      Edwards     1Fam     1Story
98         Lvl    AllPub    Corner      Edwards     1Fam     1Story

    OverallQual  OverallCond  YearBuilt  YearRemodAdd  GarageCars  SalePrice
0           7.0          5.0     2003.0          2003           2     208500
1           6.0          8.0     1976.0          1976           2     181500
2           7.0          5.0     2001.0          2002           2     223500
3           7.0          5.0     1915.0          1970           3     140000
4           8.0          5.0     1971.0          2000           3     250000
..          ...          ...        ...           ...         ...        ...
94          6.0          5.0     1997.0          1997           2     204750
95          6.0          5.0     1993.0          1993           2     185000
96          7.0          5.0     1999.0          1999           2     214000
97          4.0          5.0     1965.0          1965           1      94750
98          5.0          5.0     1920.0          1950           1      83000

[93 rows x 20 columns]

f) Show the summary of the updated dataframe

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            99 non-null     int64
 1   MSSubClass    99 non-null     int64
 2   MSZoning      99 non-null     object
 3   LotFrontage   99 non-null     float64
 4   LotArea       99 non-null     float64
 5   Street        99 non-null     object
 6   Alley         99 non-null     object
 7   LotShape      99 non-null     object
 8   LandContour   99 non-null     object
 9   Utilities     99 non-null     object
 10  LotConfig     99 non-null     object
 11  Neighborhood  99 non-null     object
 12  BldgType      99 non-null     object
 13  HouseStyle    99 non-null     object
 14  OverallQual   99 non-null     float64
 15  OverallCond   99 non-null     float64
 16  YearBuilt     99 non-null     float64
 17  YearRemodAdd  99 non-null     int64
 18  GarageCars    99 non-null     int64
 19  SalePrice     99 non-null     int64
dtypes: float64(5), int64(5), object(10)
memory usage: 15.6+ KB

In [89]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,GarageCars,SalePrice
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,50.000000,52.323232,71.151515,10041.303030,5.959596,5.454545,1971.292929,1984.171717,1.767677,174273.898990
std,28.722813,42.638209,19.642397,5125.489093,1.477168,0.950539,28.688422,20.921642,0.739943,72461.117262
min,1.000000,20.000000,21.000000,1596.000000,3.000000,2.000000,1910.000000,1950.000000,0.000000,40000.000000
25%,25.500000,20.000000,60.000000,7628.500000,5.000000,5.000000,1956.000000,1965.000000,1.000000,129500.000000
50%,50.000000,45.000000,70.000000,9591.000000,6.000000,5.000000,1971.000000,1995.000000,2.000000,154000.000000
75%,74.500000,60.000000,80.500000,11148.000000,7.000000,6.000000,1998.500000,2003.500000,2.000000,208000.000000
max,99.000000,190.000000,122.000000,50271.000000,10.000000,8.000000,2009.000000,2009.000000,3.000000,438780.000000

g) Extract the row with max SalePrice and the row with min SalePrice

In [90]:
# Get the row with max SalePrice and the row with min SalePrice
print("Row with max SalePrice:\n", df[df['SalePrice'] == df['SalePrice'].max()])
print("Row with min SalePrice:\n",df[df['SalePrice'] == df['SalePrice'].min()])

Row with max SalePrice:
     Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
58  59          60       RL         66.0  13682.0   Pave  Grvl      IR2

   LandContour Utilities LotConfig Neighborhood BldgType HouseStyle  \
58         HLS    AllPub   CulDSac      StoneBr     1Fam     2Story

    OverallQual  OverallCond  YearBuilt  YearRemodAdd  GarageCars  SalePrice
58         10.0          5.0     2006.0          2006           3     438780
Row with min SalePrice:
     Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
30  31          70  C (all)         50.0   8500.0   Pave  Pave      Reg

   LandContour Utilities LotConfig Neighborhood BldgType HouseStyle  \
30         Lvl    AllPub    Inside       IDOTRR     1Fam     2Story

    OverallQual  OverallCond  YearBuilt  YearRemodAdd  GarageCars  SalePrice
30          4.0          4.0     1920.0          1950           1      40000

h) Insert a new column called Overall, which is the average of OverallQual and OverallCond.

In [94]:
# Create a new column called Overall, which is the average of OverallQual and OverallCond
df['Overall'] = (df['OverallQual'] + df['OverallCond']) / 2
# Return the dataframe except for the OverallQual and OverallCond column
print(df[df.columns.drop(['OverallQual', 'OverallCond'])])

    Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0    1          60       RL         65.0   8450.0   Pave  Grvl      Reg
1    2          20       RL         80.0   9600.0   Pave  Grvl      Reg
2    3          60       RL         68.0  11250.0   Pave  Grvl      IR1
3    4          70       RL         60.0   9550.0   Pave  Grvl      IR1
4    5          60       RL         84.0  14260.0   Pave  Grvl      IR1
..  ..         ...      ...          ...      ...    ...   ...      ...
94  95          60       RL         69.0   9337.0   Pave  Grvl      IR1
95  96          60       RL         70.0   9765.0   Pave  Grvl      IR2
96  97          20       RL         78.0  10264.0   Pave  Grvl      IR1
97  98          20       RL         73.0  10921.0   Pave  Grvl      Reg
98  99          30       RL         85.0  10625.0   Pave  Grvl      Reg

   LandContour Utilities LotConfig Neighborhood BldgType HouseStyle  \
0          Lvl    AllPub    Inside      CollgCr     1Fam     2Story
1          Lvl    AllPub    Inside      Veenker     1Fam     1Story
2          Lvl    AllPub    Inside      CollgCr     1Fam     2Story
3          Lvl    AllPub    Corner      Crawfor     1Fam     2Story
4          Lvl    AllPub       FR2      NoRidge     1Fam     2Story
..         ...       ...       ...          ...      ...        ...
94         Lvl    AllPub    Inside      CollgCr     1Fam     2Story
95         Lvl    AllPub    Corner      Gilbert     1Fam     2Story
96         Lvl    AllPub    Inside      CollgCr     1Fam     1Story
97         HLS    AllPub    Inside      Edwards     1Fam     1Story
98         Lvl    AllPub    Corner      Edwards     1Fam     1Story

    YearBuilt  YearRemodAdd  GarageCars  SalePrice  Overall
0      2003.0          2003           2     208500      6.0
1      1976.0          1976           2     181500      7.0
2      2001.0          2002           2     223500      6.0
3      1915.0          1970           3     140000      6.0
4      1971.0          2000           3     250000      6.5
..        ...           ...         ...        ...      ...
94     1997.0          1997           2     204750      5.5
95     1993.0          1993           2     185000      5.5
96     1999.0          1999           2     214000      6.0
97     1965.0          1965           1      94750      4.5
98     1920.0          1950           1      83000      5.0

[99 rows x 19 columns]

i) Update the dataframe with SalePrice used as index and ID becomes a new column

In [99]:
df.set_index('SalePrice', inplace=True)
print(df)

           Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
SalePrice
208500      1          60       RL         65.0   8450.0   Pave  Grvl
181500      2          20       RL         80.0   9600.0   Pave  Grvl
223500      3          60       RL         68.0  11250.0   Pave  Grvl
140000      4          70       RL         60.0   9550.0   Pave  Grvl
250000      5          60       RL         84.0  14260.0   Pave  Grvl
...        ..         ...      ...          ...      ...    ...   ...
204750     95          60       RL         69.0   9337.0   Pave  Grvl
185000     96          60       RL         70.0   9765.0   Pave  Grvl
214000     97          20       RL         78.0  10264.0   Pave  Grvl
94750      98          20       RL         73.0  10921.0   Pave  Grvl
83000      99          30       RL         85.0  10625.0   Pave  Grvl

          LotShape LandContour Utilities LotConfig Neighborhood BldgType  \
SalePrice
208500         Reg         Lvl    AllPub    Inside      CollgCr     1Fam
181500         Reg         Lvl    AllPub    Inside      Veenker     1Fam
223500         IR1         Lvl    AllPub    Inside      CollgCr     1Fam
140000         IR1         Lvl    AllPub    Corner      Crawfor     1Fam
250000         IR1         Lvl    AllPub       FR2      NoRidge     1Fam
...            ...         ...       ...       ...          ...      ...
204750         IR1         Lvl    AllPub    Inside      CollgCr     1Fam
185000         IR2         Lvl    AllPub    Corner      Gilbert     1Fam
214000         IR1         Lvl    AllPub    Inside      CollgCr     1Fam
94750          Reg         HLS    AllPub    Inside      Edwards     1Fam
83000          Reg         Lvl    AllPub    Corner      Edwards     1Fam

          HouseStyle  OverallQual  OverallCond  YearBuilt  YearRemodAdd  \
SalePrice
208500        2Story          7.0          5.0     2003.0          2003
181500        1Story          6.0          8.0     1976.0          1976
223500        2Story          7.0          5.0     2001.0          2002
140000        2Story          7.0          5.0     1915.0          1970
250000        2Story          8.0          5.0     1971.0          2000
...              ...          ...          ...        ...           ...
204750        2Story          6.0          5.0     1997.0          1997
185000        2Story          6.0          5.0     1993.0          1993
214000        1Story          7.0          5.0     1999.0          1999
94750         1Story          4.0          5.0     1965.0          1965
83000         1Story          5.0          5.0     1920.0          1950

           GarageCars  Overall
SalePrice
208500              2      6.0
181500              2      7.0
223500              2      6.0
140000              3      6.0
250000              3      6.5
...               ...      ...
204750              2      5.5
185000              2      5.5
214000              2      6.0
94750               1      4.5
83000               1      5.0

[99 rows x 20 columns]

Check with df.columns

In [100]:
print(df.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'Neighborhood', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'GarageCars', 'Overall'],
      dtype='object')